extends page.pug
include mixins/pagination.pug

block pageBody

  table.table.table-hover.table-striped
    thead
      tr
        th Started at
        th Ended at
        th Result
        th Your color
        th Against
        th View
    tbody
      each game in games
        tr
          td= game.startedAt.toLocaleString('pt-BR')
          td= game.endedAt.toLocaleString('pt-BR')
          td= game.result
          td= game.yourColor
          td= game.opponentName
          td
            a(href=`/games/human/${game.id}`, target='_blank').btn.btn-link
              i.bi.bi-box-arrow-up-right

  +pagination('/games/', [`mode=${mode}`], page, games.length, perPage)