extends page.pug

include mixins/pagination.pug

block pageBody
  form(name="searchForm")
    div.d-flex.flex-row.gap-3
      input(name="search", type="text", value=search).form-control
      button(type="submit").btn.btn-primary.d-flex.flex-row.gap-2
        i.bi.bi-search
        | Search
  if errorMessage
    div.alert.alert-danger.mt-3.mb-0
      b Search failed 
      | #{errorMessage}
  else
    table.mb-0.table.table-striped.table-hover
      thead
        tr
          th(style={width: '0.1%'}) ID
          th Name
          th(style={width: '0.1%'})
      tbody
        if !users
          tr
            td.text-center.p-3(colspan=2) No users found
        else
          each user in users
            tr
              td= user.id
              td= user.name
              td
                -
                  let disabled = false;
                  let title = 'Send friendship request';
                  if (user.id == loggedUser) {
                    disabled = true;
                    title = 'This is you';
                  } else if (user.request_sent_at || user.request_received_at) {
                    disabled = true;
                    title = 'Already sent request';
                  }
                div(data-bs-toggle="tooltip", data-bs-title=title)
                  button(disabled=disabled, data-id=user.id).btn-send-request.btn.btn-success
                    i.bi.bi-person-plus-fill

    +pagination('/users', [`search=${search}`], page, users.length, perPage)

  script(src="/static/js/views/user-search.js")