mixin pagination(path, get, page, numItems, perPage)
  -
    const showPrev = page > 1
    const showNext = numItems == perPage
  if showPrev || showNext
    -
      const getPrev = [...get, `page=${Number(page) - 1}`];
      const getNext = [...get, `page=${Number(page) + 1}`];
      const urlPrev = `${path}?${getPrev.join('&')}`;
      const urlNext = `${path}?${getNext.join('&')}`;
    div.mt-3.hstack
      if showPrev
        a.btn.btn-light(href=urlPrev)
          i.bi.bi-arrow-left 
          | Previous page
      if showNext
        a.ms-auto.btn.btn-light(href=urlNext)
          | Next page 
          i.bi.bi-arrow-right